.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #0067A3;
    height: 4rem;
}

.header__title {
    color: #FFFFFF;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 1.75rem; 
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    margin-left: 2rem;
}

.header__user-menu {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    width: fit-content; 
    height: 2.5rem;
    margin-top: 0.4375rem; 
    margin-right: 0.5rem;
}

.user-avatar {
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 50%;
}

.arrow-down {
    margin: 0 auto;
    width: 0.75rem; 
    height: 0.46375rem;
    cursor: pointer; 
}

.arrow-up {
    margin: 0 auto;
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    width: 10rem;
    top: 5rem;
    right: 2rem;
    background-color: #fff; 
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #333; 
}

.dropdown-menu a:hover {
    background-color: #f0f0f0; 
}

